<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>FirstTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Update</servlet-name>
    <servlet-class>com.FirstWeb.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileUploadHandler</servlet-name>
    <servlet-class>com.FirstWeb.FileUploadHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadHandler</servlet-name>
    <url-pattern>/FileUploadHandler/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpFile</servlet-name>
    <servlet-class>com.FirstWeb.UpFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpFile</servlet-name>
    <url-pattern>/UpFile/*</url-pattern>
  </servlet-mapping>
</web-app>